
    textarea {
        resize: none;
    }
    body {
	  background: #cccccc;
	}

    .content {
	  max-width: 500px;
	  margin: auto;
	  background: white;
	  padding: 20px;
	  font-family: "Trebuchet MS", Helvetica, sans-serif;
	  box-shadow: 10px 10px;
	}


	.button {
	  display: inline-block;
	  padding: 7px 9px;
	  font-size: 17px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	  color: #fff;
	  background-color: #4CAF50;
	  border: none;
	  border-radius: 8px;
	  box-shadow: 0 5px #999;
	}

	.button:hover {background-color: #3e8e41}

	.button:active {
	  background-color: #3e8e41;
	  box-shadow: 0 2px #666;
	  transform: translateY(3px);
	}

